// Here you can add other styles
.editwidthbutton{
  width: 100px;
  margin-top: 1.1rem !important;
  margin-left: 7px;
}
.flexcontainer {
   display: flex;
   justify-content: center;
   flex-direction: row;
   align-items: flex-start;
}
.backgroundedit{
  background-color: #fff;
  padding: 20px;
  border-radius: 7px;
  margin-bottom: 10px;
}

.dangky-button-padding{
  display: flex;
  justify-content: flex-end;
}
.box-popup{
  border-radius: 8px;
  height: 20%;
  width: 55%;
}
.box-popup1{
  border-radius: 8px;
  height: 27%;
  width: 50%;
}
.box-popup2{
  border-radius: 8px;
  height: 28%;
  width: 50%;
}
.box-margin{
  margin-left: 250px;
}
.bottom-box{
  padding-left: 600px;
  position: absolute;
   bottom: 0;
}
.padding-left{
  margin-right: 10px;
}
.button-size{
  width: 60px;
  height: 34px;
  margin-bottom: 4px;
}
.alert-box{
 padding-top: 10px;
 padding-left: 90px;
 color: red;
}
.time{
  background-color:#fff;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 300px;
  height: 300px;
  border-radius: 5px;
  z-index: 100000;
}
.box-popup3{
  border-radius:10px;
}
.margin-texbox{
  margin-left: 17px;
}
.margin-label-check{
  margin-bottom: 10px;
}
.spaceding{
  position: absolute;
right: 360px;
}
.spaceding1{
margin-left: 1000px;
}
.user_giangvien_margin{
  padding-top:15px;
}
